@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

html.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.2s, color 0.2s;
}

html {
  scroll-behavior: smooth;
}
